body {
    font-family: Arial, sans-serif;
    width: 300px;
    padding: 10px;
    border-radius: 10px; 
}

h1 {
    font-size: 18px;
}

#analyze-btn {
    display: block;
    margin: 10px 0;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px; 
}

#results {
    margin-top: 20px;
}
